body{
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
*{
    box-sizing: border-box;
}
.gameTitle{
    color: #75B79E;
    text-align: center;
    margin: 40px auto;
    height: fit-content;
    width: 100%;
    font-size: 56px;
    font-weight: 700;
}
ul{
    height: 100%;
    width: 872px;
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
    justify-content: center;
    align-items: center;
}
li {
    transform-style: preserve-3d;
    /* display: flex;
    justify-content: center; */
    transition: all .5s;
    position: relative;
    height: 146px;
    width: 117px;
    cursor: pointer;
}
li div{
    width: 100%;
    height: 100%;
    background-color:#A7E9AF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    position: absolute;
} 
    
li img{
    width: 100px;
    height: 100px;
}
.back{
    transform: rotateY(180deg);
}

.selecionada{
    transform: rotateY(180deg);
}
.selecionada .front{
    display: none;
}
.deuMatch{
    transform: rotateY(180deg);
}
.deuMatch .front{
    display: none;
}


.clock{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: black;
    color: red;
    font-size: 50px;
    text-align: end;
    width: 120px;
    height: 60px;
    border-radius: 5px;
}

@media (max-width: 900px){
    .gameTitle{
        font-size: 36px;
        max-width: 312px;
        margin-top: 75px;
    }
    ul{
        flex-direction: column;
    }
    .clock{
        width: 60px;
        height: 30px;
        font-size: 24px;
    }
}